{
  "openapi": "3.0.3",
  "info": {
    "title": "ShopSynch Public Developer API",
    "version": "v1.0.0",
    "description": "Public customer and merchant developer endpoints."
  },
  "servers": [
    {
      "url": "https://api.shopsynch.com"
    }
  ],
  "tags": [
    {
      "name": "PRODUCT",
      "description": "PRODUCT Endpoints"
    },
    {
      "name": "PROMOTION_ADS",
      "description": "PROMOTION_ADS Endpoints"
    },
    {
      "name": "ORDER",
      "description": "ORDER Endpoints"
    },
    {
      "name": "CART",
      "description": "CART Endpoints"
    },
    {
      "name": "PRODUCT_CATEGORY",
      "description": "PRODUCT_CATEGORY Endpoints"
    },
    {
      "name": "PROMOTION_CODE",
      "description": "PROMOTION_CODE Endpoints"
    },
    {
      "name": "PRODUCT_REVIEW",
      "description": "PRODUCT_REVIEW Endpoints"
    },
    {
      "name": "AUTHENTICATION",
      "description": "AUTHENTICATION Endpoints"
    },
    {
      "name": "CUSTOMER",
      "description": "CUSTOMER Endpoints"
    },
    {
      "name": "MEDIA_MANAGEMENT",
      "description": "MEDIA_MANAGEMENT Endpoints"
    },
    {
      "name": "PAYMENT",
      "description": "PAYMENT Endpoints"
    },
    {
      "name": "DELIVERY_ZONE",
      "description": "DELIVERY_ZONE Endpoints"
    },
    {
      "name": "WAREHOUSE",
      "description": "WAREHOUSE Endpoints"
    },
    {
      "name": "INVENTORY",
      "description": "INVENTORY Endpoints"
    }
  ],
  "paths": {
    "/v1/products/variation/priceDetail/{variationPriceDetailId}": {
      "patch": {
        "summary": "Update Product Variation Price Detail",
        "deprecated": false,
        "description": "",
        "tags": [
          "PRODUCT"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"productId\": \"\",\n  \"variationId\": \"\",\n  \"price\": 0,\n  \"newPrice\": 0,\n  \"ramSize\": \"\",\n  \"Storage\": \"\",\n  \"size\": \"\",\n  \"sku\": \"\",\n  \"quantityInStock\": 0,\n  \"discount\": 0\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/16f8fb1e4ec156cb940bb2159ea00225"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\"status\":true,\"message\":\"\",\"data\":{\"id\":\"\",\"name\":\"\",\"slug\":\"\",\"description\":\"\",\"summary\":\"\",\"image\":\"\",\"thumbnail\":\"\",\"images\":[\"\"],\"price\":0,\"newPrice\":0,\"ramSize\":\"\",\"storage\":\"\",\"size\":\"\",\"quantity\":0,\"brand\":\"\",\"discount\":0,\"category\":\"\",\"color\":\"\",\"customColor\":\"\",\"specifications\":[{\"key\":\"\",\"value\":\"\"}],\"variations\":[{\"id\":\"\",\"attributeName\":\"\",\"attributeValue\":\"\",\"color\":{\"id\":\"\",\"name\":\"\",\"code\":\"\"},\"customColor\":\"\",\"image\":\"\",\"productPriceDetails\":[{\"id\":\"\",\"price\":0,\"newPrice\":0,\"ramSize\":\"\",\"storage\":\"\",\"size\":\"\",\"sku\":\"\",\"quantityInStock\":0,\"discount\":0,\"variationAttributes\":{\"mapKey1\":\"\",\"mapKey2\":\"\"}\"weightKg\":0}]}],\"features\":[\"\"],\"createdAt\":\"yyyy-MM-dd HH:mm:ss\"}}"
                  }
                }
              }
            }
          }
        },
        "operationId": "patch__v1_products_variation_priceDetail__variationPriceDetailId_",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "variationPriceDetailId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "createdAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "updatedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "email"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "tenantId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "fullName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "firstName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "lastName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "otherName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd",
            "name": "dateOfBirth"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "phoneNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "nationality"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "e.g. \"National ID\", \"Passport\"",
            "required": false,
            "name": "idType"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "ID number",
            "required": false,
            "name": "idNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "e.g. \"National ID\", \"Passport\"",
            "required": false,
            "name": "idDocumentUrl"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "Whether the uploaded identity document has been verified.",
            "required": false,
            "example": true,
            "name": "idDocumentVerified"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "File entity ID for the current identity document.",
            "required": false,
            "name": "idDocumentFileId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "File storage URL",
            "required": false,
            "name": "profileUrl"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "profileImageVerified"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "File entity ID for the current selfie/profile document.",
            "required": false,
            "name": "profileFileId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "address"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "proofOfAddress"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "proofOfAddressVerified"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "proofOfAddressFileId"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": 0,
            "name": "version"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "completedProfileAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "emailVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "phoneVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "lastLoggedInAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "roleId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "roleName"
          },
          {
            "schema": {
              "type": "object"
            },
            "in": "query",
            "description": "NEW: All store IDs this user belongs to (owned + joined via invitation).\nExisting single-store owners have their tenantId included here automatically.",
            "required": false,
            "example": "\"\"\",\"\"\"",
            "name": "tenantIds"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "NEW: The store ID the user was last active in — used to resume context on login.",
            "required": false,
            "name": "lastActiveTenantId"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "NEW: Whether TOTP-based two-factor authentication is enabled for this user.",
            "required": false,
            "example": true,
            "name": "twoFactorEnabled"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "notificationsEnabled"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "googleAccount"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "googleId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/products/variation/priceDetail": {
      "post": {
        "summary": "Add Product Variation Price Detail",
        "deprecated": false,
        "description": "",
        "tags": [
          "PRODUCT"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/0f07ca357c71af91bc3073293f89bea6"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"productId\": \"\",\n  \"variationId\": \"\",\n  \"price\": 0,\n  \"newPrice\": 0,\n  \"ramSize\": \"\",\n  \"Storage\": \"\",\n  \"size\": \"\",\n  \"sku\": \"\",\n  \"quantityInStock\": 0,\n  \"discount\": 0\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/16f8fb1e4ec156cb940bb2159ea00225"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\"status\":true,\"message\":\"\",\"data\":{\"id\":\"\",\"name\":\"\",\"slug\":\"\",\"description\":\"\",\"summary\":\"\",\"image\":\"\",\"thumbnail\":\"\",\"images\":[\"\"],\"price\":0,\"newPrice\":0,\"ramSize\":\"\",\"storage\":\"\",\"size\":\"\",\"quantity\":0,\"brand\":\"\",\"discount\":0,\"category\":\"\",\"color\":\"\",\"customColor\":\"\",\"specifications\":[{\"key\":\"\",\"value\":\"\"}],\"variations\":[{\"id\":\"\",\"attributeName\":\"\",\"attributeValue\":\"\",\"color\":{\"id\":\"\",\"name\":\"\",\"code\":\"\"},\"customColor\":\"\",\"image\":\"\",\"productPriceDetails\":[{\"id\":\"\",\"price\":0,\"newPrice\":0,\"ramSize\":\"\",\"storage\":\"\",\"size\":\"\",\"sku\":\"\",\"quantityInStock\":0,\"discount\":0,\"variationAttributes\":{\"mapKey1\":\"\",\"mapKey2\":\"\"}\"weightKg\":0}]}],\"features\":[\"\"],\"createdAt\":\"yyyy-MM-dd HH:mm:ss\"}}"
                  }
                }
              }
            }
          }
        },
        "operationId": "post__v1_products_variation_priceDetail",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "createdAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "updatedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "email"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "tenantId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "fullName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "firstName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "lastName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "otherName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd",
            "name": "dateOfBirth"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "phoneNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "nationality"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "e.g. \"National ID\", \"Passport\"",
            "required": false,
            "name": "idType"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "ID number",
            "required": false,
            "name": "idNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "e.g. \"National ID\", \"Passport\"",
            "required": false,
            "name": "idDocumentUrl"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "Whether the uploaded identity document has been verified.",
            "required": false,
            "example": true,
            "name": "idDocumentVerified"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "File entity ID for the current identity document.",
            "required": false,
            "name": "idDocumentFileId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "File storage URL",
            "required": false,
            "name": "profileUrl"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "profileImageVerified"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "File entity ID for the current selfie/profile document.",
            "required": false,
            "name": "profileFileId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "address"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "proofOfAddress"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "proofOfAddressVerified"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "proofOfAddressFileId"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": 0,
            "name": "version"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "completedProfileAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "emailVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "phoneVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "lastLoggedInAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "roleId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "roleName"
          },
          {
            "schema": {
              "type": "object"
            },
            "in": "query",
            "description": "NEW: All store IDs this user belongs to (owned + joined via invitation).\nExisting single-store owners have their tenantId included here automatically.",
            "required": false,
            "example": "\"\"\",\"\"\"",
            "name": "tenantIds"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "NEW: The store ID the user was last active in — used to resume context on login.",
            "required": false,
            "name": "lastActiveTenantId"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "NEW: Whether TOTP-based two-factor authentication is enabled for this user.",
            "required": false,
            "example": true,
            "name": "twoFactorEnabled"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "notificationsEnabled"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "googleAccount"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "googleId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v2/product-templates/by-category/{categoryId}": {
      "get": {
        "summary": "Get Product Template by Category",
        "deprecated": false,
        "description": "Returns the active system default for this category.\nReturns 404 if no template is configured for this category.",
        "tags": [
          "PRODUCT"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/717cba76183cf74c37e953c059e1b5ff"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"id\": \"\",\n    \"name\": \"\",\n    \"categoryId\": \"\",\n    \"tenantId\": \"\",\n    \"status\": \"ACTIVE\",\n    \"productTypes\": [\n      \"SIMPLE\"\n    ],\n    \"attributeDefinitions\": [\n      {\n        \"key\": \"\",\n        \"label\": \"\",\n        \"type\": \"STRING\",\n        \"options\": [\n          \"\"\n        ],\n        \"unit\": \"\",\n        \"required\": true,\n        \"variantDimension\": true,\n        \"filterable\": true,\n        \"displayAs\": \"TEXT\",\n        \"section\": \"\",\n        \"displayOrder\": 0,\n        \"placeholder\": \"\"\n      }\n    ],\n    \"createdAt\": \"yyyy-MM-dd HH:mm:ss\",\n    \"updatedAt\": \"yyyy-MM-dd HH:mm:ss\"\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "get__v2_product_templates_by_category__categoryId_",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "No comments found.",
            "required": true,
            "name": "categoryId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/promo-ads": {
      "post": {
        "summary": "Create Promo Ad",
        "deprecated": false,
        "description": "This API creates a new promotional ad.",
        "tags": [
          "PROMOTION_ADS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/5a3e406f41aa365c3be8651445ecc40e"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"adName\": \"\",\n  \"images\": [\n    \"\"\n  ],\n  \"ctaText\": \"\",\n  \"promoCode\": \"\",\n  \"buttons\": [\n    {\n      \"type\": \"\",\n      \"position\": \"\",\n      \"color\": \"\",\n      \"textColor\": \"\",\n      \"text\": \"\",\n      \"link\": \"\",\n      \"metadata\": {}\n    }\n  ],\n  \"status\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/6cf52d3556ea041ec28df0d785c60bc0"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {\n    \"id\": \"\",\n    \"adName\": \"\",\n    \"images\": [\n      \"\"\n    ],\n    \"ctaText\": \"\",\n    \"promoCode\": \"\",\n    \"buttons\": [\n      {\n        \"type\": \"\",\n        \"position\": \"\",\n        \"color\": \"\",\n        \"textColor\": \"\",\n        \"text\": \"\",\n        \"link\": \"\",\n        \"metadata\": {}\n      }\n    ],\n    \"status\": \"\",\n    \"metadata\": {},\n    \"createdAt\": \"2026-07-30 11:48:02\",\n    \"updatedAt\": \"2026-07-30 11:48:02\"\n  },\n  \"message\": \"\",\n  \"status\": true,\n  \"meta\": {\n    \"mapKey\": {\n      \"warning\": \"Using java.util.Object as a Map value is not recommended. Smart-doc cannot process it properly. Please use a specific type for better documentation generation.\"\n    }\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "post__v1_promo_ads",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "createdAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "updatedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "email"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "tenantId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "fullName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "firstName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "lastName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "otherName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd",
            "name": "dateOfBirth"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "phoneNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "nationality"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "e.g. \"National ID\", \"Passport\"",
            "required": false,
            "name": "idType"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "ID number",
            "required": false,
            "name": "idNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "e.g. \"National ID\", \"Passport\"",
            "required": false,
            "name": "idDocumentUrl"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "Whether the uploaded identity document has been verified.",
            "required": false,
            "example": true,
            "name": "idDocumentVerified"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "File entity ID for the current identity document.",
            "required": false,
            "name": "idDocumentFileId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "File storage URL",
            "required": false,
            "name": "profileUrl"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "profileImageVerified"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "File entity ID for the current selfie/profile document.",
            "required": false,
            "name": "profileFileId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "address"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "proofOfAddress"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "proofOfAddressVerified"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "proofOfAddressFileId"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": 0,
            "name": "version"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "completedProfileAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "emailVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "phoneVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "lastLoggedInAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "roleId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "roleName"
          },
          {
            "schema": {
              "type": "object"
            },
            "in": "query",
            "description": "NEW: All store IDs this user belongs to (owned + joined via invitation).\nExisting single-store owners have their tenantId included here automatically.",
            "required": false,
            "example": "\"\"\",\"\"\"",
            "name": "tenantIds"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "NEW: The store ID the user was last active in — used to resume context on login.",
            "required": false,
            "name": "lastActiveTenantId"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "NEW: Whether TOTP-based two-factor authentication is enabled for this user.",
            "required": false,
            "example": true,
            "name": "twoFactorEnabled"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "notificationsEnabled"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "googleAccount"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "googleId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      },
      "get": {
        "summary": "Fetch Promo Ads",
        "deprecated": false,
        "description": "This API retrieves a list of promotional ads filtered by status and paginated using a cursor.",
        "tags": [
          "PROMOTION_ADS"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/d397bcd9b18a9a204b77457249bf1d0b"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {\n    \"data\": [\n      {\n        \"id\": \"\",\n        \"adName\": \"\",\n        \"images\": [\n          \"\"\n        ],\n        \"ctaText\": \"\",\n        \"promoCode\": \"\",\n        \"buttons\": [\n          {\n            \"type\": \"\",\n            \"position\": \"\",\n            \"color\": \"\",\n            \"textColor\": \"\",\n            \"text\": \"\",\n            \"link\": \"\",\n            \"metadata\": {}\n          }\n        ],\n        \"status\": \"\",\n        \"metadata\": {},\n        \"createdAt\": \"2026-07-30 11:48:02\",\n        \"updatedAt\": \"2026-07-30 11:48:02\"\n      }\n    ],\n    \"nextCursor\": \"yyyy-MM-dd HH:mm:ss\"\n  },\n  \"message\": \"\",\n  \"status\": true,\n  \"meta\": {\n    \"mapKey\": {\n      \"warning\": \"Using java.util.Object as a Map value is not recommended. Smart-doc cannot process it properly. Please use a specific type for better documentation generation.\"\n    }\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "get__v1_promo_ads",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "createdAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "updatedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "email"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "tenantId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "fullName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "firstName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "lastName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "otherName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd",
            "name": "dateOfBirth"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "phoneNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "nationality"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "e.g. \"National ID\", \"Passport\"",
            "required": false,
            "name": "idType"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "ID number",
            "required": false,
            "name": "idNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "e.g. \"National ID\", \"Passport\"",
            "required": false,
            "name": "idDocumentUrl"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "Whether the uploaded identity document has been verified.",
            "required": false,
            "example": true,
            "name": "idDocumentVerified"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "File entity ID for the current identity document.",
            "required": false,
            "name": "idDocumentFileId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "File storage URL",
            "required": false,
            "name": "profileUrl"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "profileImageVerified"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "File entity ID for the current selfie/profile document.",
            "required": false,
            "name": "profileFileId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "address"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "proofOfAddress"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "proofOfAddressVerified"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "proofOfAddressFileId"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": 0,
            "name": "version"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "completedProfileAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "emailVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "phoneVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "lastLoggedInAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "roleId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "roleName"
          },
          {
            "schema": {
              "type": "object"
            },
            "in": "query",
            "description": "NEW: All store IDs this user belongs to (owned + joined via invitation).\nExisting single-store owners have their tenantId included here automatically.",
            "required": false,
            "example": "\"\"\",\"\"\"",
            "name": "tenantIds"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "NEW: The store ID the user was last active in — used to resume context on login.",
            "required": false,
            "name": "lastActiveTenantId"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "NEW: Whether TOTP-based two-factor authentication is enabled for this user.",
            "required": false,
            "example": true,
            "name": "twoFactorEnabled"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "notificationsEnabled"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "googleAccount"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "googleId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "The promotional ad status (DRAFT or PUBLISHED).",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Cursor for pagination.",
            "required": false,
            "name": "cursor"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "Records per page limit.",
            "required": true,
            "example": 10,
            "name": "limit"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/promo-ads/{id}": {
      "patch": {
        "summary": "Update Promo Ad",
        "deprecated": false,
        "description": "This API updates a specific promotional ad by its ID.",
        "tags": [
          "PROMOTION_ADS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/5a3e406f41aa365c3be8651445ecc40e"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "{\n  \"adName\": \"\",\n  \"images\": [\n    \"\"\n  ],\n  \"ctaText\": \"\",\n  \"promoCode\": \"\",\n  \"buttons\": [\n    {\n      \"type\": \"\",\n      \"position\": \"\",\n      \"color\": \"\",\n      \"textColor\": \"\",\n      \"text\": \"\",\n      \"link\": \"\",\n      \"metadata\": {}\n    }\n  ],\n  \"status\": \"\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/6cf52d3556ea041ec28df0d785c60bc0"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {\n    \"id\": \"\",\n    \"adName\": \"\",\n    \"images\": [\n      \"\"\n    ],\n    \"ctaText\": \"\",\n    \"promoCode\": \"\",\n    \"buttons\": [\n      {\n        \"type\": \"\",\n        \"position\": \"\",\n        \"color\": \"\",\n        \"textColor\": \"\",\n        \"text\": \"\",\n        \"link\": \"\",\n        \"metadata\": {}\n      }\n    ],\n    \"status\": \"\",\n    \"metadata\": {},\n    \"createdAt\": \"2026-07-30 11:48:02\",\n    \"updatedAt\": \"2026-07-30 11:48:02\"\n  },\n  \"message\": \"\",\n  \"status\": true,\n  \"meta\": {\n    \"mapKey\": {\n      \"warning\": \"Using java.util.Object as a Map value is not recommended. Smart-doc cannot process it properly. Please use a specific type for better documentation generation.\"\n    }\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "patch__v1_promo_ads__id_",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "The unique identifier of the promotional ad.",
            "required": true,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "createdAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "updatedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "email"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "tenantId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "fullName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "firstName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "lastName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "otherName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd",
            "name": "dateOfBirth"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "phoneNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "nationality"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "e.g. \"National ID\", \"Passport\"",
            "required": false,
            "name": "idType"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "ID number",
            "required": false,
            "name": "idNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "e.g. \"National ID\", \"Passport\"",
            "required": false,
            "name": "idDocumentUrl"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "Whether the uploaded identity document has been verified.",
            "required": false,
            "example": true,
            "name": "idDocumentVerified"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "File entity ID for the current identity document.",
            "required": false,
            "name": "idDocumentFileId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "File storage URL",
            "required": false,
            "name": "profileUrl"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "profileImageVerified"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "File entity ID for the current selfie/profile document.",
            "required": false,
            "name": "profileFileId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "address"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "proofOfAddress"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "proofOfAddressVerified"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "proofOfAddressFileId"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": 0,
            "name": "version"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "completedProfileAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "emailVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "phoneVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "lastLoggedInAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "roleId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "roleName"
          },
          {
            "schema": {
              "type": "object"
            },
            "in": "query",
            "description": "NEW: All store IDs this user belongs to (owned + joined via invitation).\nExisting single-store owners have their tenantId included here automatically.",
            "required": false,
            "example": "\"\"\",\"\"\"",
            "name": "tenantIds"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "NEW: The store ID the user was last active in — used to resume context on login.",
            "required": false,
            "name": "lastActiveTenantId"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "NEW: Whether TOTP-based two-factor authentication is enabled for this user.",
            "required": false,
            "example": true,
            "name": "twoFactorEnabled"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "notificationsEnabled"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "googleAccount"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "googleId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      },
      "get": {
        "summary": "Get Promo Ad by ID",
        "deprecated": false,
        "description": "This API retrieves a specific promotional ad by its ID.",
        "tags": [
          "PROMOTION_ADS"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/6cf52d3556ea041ec28df0d785c60bc0"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {\n    \"id\": \"\",\n    \"adName\": \"\",\n    \"images\": [\n      \"\"\n    ],\n    \"ctaText\": \"\",\n    \"promoCode\": \"\",\n    \"buttons\": [\n      {\n        \"type\": \"\",\n        \"position\": \"\",\n        \"color\": \"\",\n        \"textColor\": \"\",\n        \"text\": \"\",\n        \"link\": \"\",\n        \"metadata\": {}\n      }\n    ],\n    \"status\": \"\",\n    \"metadata\": {},\n    \"createdAt\": \"2026-07-30 11:48:02\",\n    \"updatedAt\": \"2026-07-30 11:48:02\"\n  },\n  \"message\": \"\",\n  \"status\": true,\n  \"meta\": {\n    \"mapKey\": {\n      \"warning\": \"Using java.util.Object as a Map value is not recommended. Smart-doc cannot process it properly. Please use a specific type for better documentation generation.\"\n    }\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "get__v1_promo_ads__id_",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "The unique identifier of the promotional ad.",
            "required": true,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      },
      "delete": {
        "summary": "Delete Promo Ad",
        "deprecated": false,
        "description": "This API deletes a specific promotional ad.",
        "tags": [
          "PROMOTION_ADS"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/6511634d7117c6abf1799b0f0d530f46"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {},\n  \"message\": \"\",\n  \"status\": true,\n  \"meta\": {\n    \"mapKey\": {\n      \"warning\": \"Using java.util.Object as a Map value is not recommended. Smart-doc cannot process it properly. Please use a specific type for better documentation generation.\"\n    }\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "delete__v1_promo_ads__id_",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "The unique identifier of the promotional ad.",
            "required": true,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "createdAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "updatedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "email"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "tenantId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "fullName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "firstName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "lastName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "otherName"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd",
            "name": "dateOfBirth"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "phoneNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "nationality"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "e.g. \"National ID\", \"Passport\"",
            "required": false,
            "name": "idType"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "ID number",
            "required": false,
            "name": "idNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "e.g. \"National ID\", \"Passport\"",
            "required": false,
            "name": "idDocumentUrl"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "Whether the uploaded identity document has been verified.",
            "required": false,
            "example": true,
            "name": "idDocumentVerified"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "File entity ID for the current identity document.",
            "required": false,
            "name": "idDocumentFileId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "File storage URL",
            "required": false,
            "name": "profileUrl"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "profileImageVerified"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "File entity ID for the current selfie/profile document.",
            "required": false,
            "name": "profileFileId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "address"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "proofOfAddress"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "proofOfAddressVerified"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "proofOfAddressFileId"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": 0,
            "name": "version"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "completedProfileAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "emailVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "phoneVerifiedAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": "yyyy-MM-dd HH:mm:ss",
            "name": "lastLoggedInAt"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "roleId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "roleName"
          },
          {
            "schema": {
              "type": "object"
            },
            "in": "query",
            "description": "NEW: All store IDs this user belongs to (owned + joined via invitation).\nExisting single-store owners have their tenantId included here automatically.",
            "required": false,
            "example": "\"\"\",\"\"\"",
            "name": "tenantIds"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "NEW: The store ID the user was last active in — used to resume context on login.",
            "required": false,
            "name": "lastActiveTenantId"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "NEW: Whether TOTP-based two-factor authentication is enabled for this user.",
            "required": false,
            "example": true,
            "name": "twoFactorEnabled"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "notificationsEnabled"
          },
          {
            "schema": {
              "format": "boolean",
              "type": "boolean"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "example": true,
            "name": "googleAccount"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "No comments found.",
            "required": false,
            "name": "googleId"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/promo-ads/published": {
      "get": {
        "summary": "Fetch Published Promo Ads",
        "deprecated": false,
        "description": "This API retrieves a list of published promotional ads.",
        "tags": [
          "PROMOTION_ADS"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/3b6838b05acc8f5be73fe6df26f4cacc"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": [\n    {\n      \"id\": \"\",\n      \"adName\": \"\",\n      \"images\": [\n        \"\"\n      ],\n      \"ctaText\": \"\",\n      \"promoCode\": \"\",\n      \"buttons\": [\n        {\n          \"type\": \"\",\n          \"position\": \"\",\n          \"color\": \"\",\n          \"textColor\": \"\",\n          \"text\": \"\",\n          \"link\": \"\",\n          \"metadata\": {}\n        }\n      ],\n      \"status\": \"\",\n      \"metadata\": {},\n      \"createdAt\": \"2026-07-30 11:48:02\",\n      \"updatedAt\": \"2026-07-30 11:48:02\"\n    }\n  ],\n  \"message\": \"\",\n  \"status\": true,\n  \"meta\": {\n    \"mapKey\": {\n      \"warning\": \"Using java.util.Object as a Map value is not recommended. Smart-doc cannot process it properly. Please use a specific type for better documentation generation.\"\n    }\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "get__v1_promo_ads_published",
        "parameters": [
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "Records limit.",
            "required": true,
            "example": 3,
            "name": "limit"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/promo-ads/update/{id}/status/{status}": {
      "patch": {
        "summary": "Update Promo Ad Status",
        "deprecated": false,
        "description": "This API updates the status of a specific promotional ad.",
        "tags": [
          "PROMOTION_ADS"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/d751713988987e9331980363e24189ce"
              },
              "examples": {
                "json": {
                  "summary": "test data",
                  "value": "curl -X PATCH -k -H \"X-MerchantApiKey:pk_test\" -i 'https://api.shopsynch.com/v1/promo-ads/update/{id}/status/{status}'"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/6511634d7117c6abf1799b0f0d530f46"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"data\": {},\n  \"message\": \"\",\n  \"status\": true,\n  \"meta\": {\n    \"mapKey\": {\n      \"warning\": \"Using java.util.Object as a Map value is not recommended. Smart-doc cannot process it properly. Please use a specific type for better documentation generation.\"\n    }\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "patch__v1_promo_ads_update__id__status__status_",
        "parameters": [
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "The unique identifier of the promotional ad.",
            "required": true,
            "name": "id"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "path",
            "description": "The target status.",
            "required": true,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "header",
            "description": "For every request the X-MerchantApiKey header is mandatory. You will get an error if the X-MerchantApiKey is not supplied when it is required",
            "required": true,
            "example": "pk_test",
            "name": "X-MerchantApiKey"
          }
        ]
      }
    },
    "/v1/customer-orders": {
      "get": {
        "summary": "Get Customer Orders",
        "deprecated": false,
        "description": "This API retrieves a list of orders for the authenticated customer. The response includes orders in PUBLISHED status.",
        "tags": [
          "ORDER"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/45b226a2ed6fb6d7df5f93fc04946382"
                },
                "examples": {
                  "json": {
                    "summary": "test data",
                    "value": "{\n  \"status\": true,\n  \"message\": \"\",\n  \"data\": {\n    \"mapKey\": {\n      \"warning\": \"Using java.util.Object as a Map value is not recommended. Smart-doc cannot process it properly. Please use a specific type for better documentation generation.\"\n    }\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "operationId": "get__v1_customer_orders",
        "parameters": [
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "Zero-based page number.",
            "required": true,
            "example": 0,
            "name": "page"
          },
          {
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "in": "query",
            "description": "Records per page.",
            "required": true,
            "example": 100,
            "name": "limit"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Sort field name.",
            "required": true,
            "example": "CREATED_AT",
            "name": "sortField"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Sort direction.",
            "required": true,
            "example": "DESC",
            "name": "sortDir"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Search by order number (exact match) - This is a separate field to allow for precise filtering by order number, while the 'search' field can be used for more general text search across multiple fields (like order number and customer name).",
            "required": false,
            "name": "orderNumber"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "General search text for order number or customer name - This field allows for a broader search that can match either the order number or the customer's name, providing more flexibility in filtering orders based on user input.",
            "required": false,
            "name": "search"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by order status",
            "required": false,
            "name": "status"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by payment status",
            "required": false,
            "name": "paymentStatus"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by date range start",
            "required": false,
            "name": "dateFrom"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
            },
            "in": "query",
            "description": "Filter by date range end",
            "required": false,
            "name": "dateTo"
          },
          {
            "schema": {
              "format": "double",
              "type": "number"
            },
            "in": "query",
            "description": "Filter by minimum amount",
            "required": false,
            "example": 0,
            "name": "minAmount"
          },
          {
            "schema": {
              "format": "double",
              "type": "number"
            },
            "in": "query",
            "description": "Filter by maximum amount",
            "required": false,
            "example": 0,
            "name": "maxAmount"
          },
          {
            "schema": {
              "format": "string",
              "type": "string"
[...]
